@inherits ComponentBase
@using Radzen
@using Radzen.Blazor
@using global::Shared.Dtos.User
@inject DialogService Dialog
@inject NotificationService Notify

<EditForm Model="@model" OnValidSubmit="Save">
    <DataAnnotationsValidator />

    <div class="p-3">

        <RadzenTextBox @bind-Value="model.UserName"
                       Name="UserName"
                       Placeholder="نام کاربری"
                       Style="width:100%" />
        <RadzenRequiredValidator Component="UserName" Text="ضروری" Popup="false" />

        <RadzenTextBox @bind-Value="model.Email"
                       Name="Email"
                       Placeholder="ایمیل"
                       Style="width:100%" class="mt-3" />
        <RadzenRequiredValidator Component="Email" Text="ضروری" Popup="false" />

        <div class="mt-3">
            <RadzenButton Text="ثبت"
                          ButtonStyle="ButtonStyle.Primary"
                          Type="Submit" />

            <RadzenButton Text="انصراف"
                          Click="Close"
                          Class="ml-2" />
        </div>

    </div>
</EditForm>

@code {
    private UserDto model = new();

    private async Task Save()
    {
        Dialog.Close(model);
    }

    void Close() => Dialog.Close(null);
}
